In [1]:
import pandas as pd

In [2]:
url='https://data.moenv.gov.tw/api/v2/aqx_p_02?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=CSV'

In [3]:
df=pd.read_csv(url)
df

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣    16  2023-11-17 21:00    μg/m3
1   富貴角    新北市    19  2023-11-17 21:00    μg/m3
2    麥寮    雲林縣    22  2023-11-17 21:00    μg/m3
3    關山    臺東縣    13  2023-11-17 21:00    μg/m3
4    馬公    澎湖縣    12  2023-11-17 21:00    μg/m3
..  ...    ...   ...               ...      ...
73   土城    新北市    25  2023-11-17 21:00    μg/m3
74   新店    新北市    18  2023-11-17 21:00    μg/m3
75   萬里    新北市    17  2023-11-17 21:00    μg/m3
76   汐止    新北市    23  2023-11-17 21:00    μg/m3
77   基隆    基隆市    19  2023-11-17 21:00    μg/m3

[78 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   site              78 non-null     object
 1   county            78 non-null     object
 2   pm25              78 non-null     int64
 3   datacreationdate  78 non-null     object
 4   itemunit          78 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.2+ KB

In [5]:
df=df.dropna()
df

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣    16  2023-11-17 21:00    μg/m3
1   富貴角    新北市    19  2023-11-17 21:00    μg/m3
2    麥寮    雲林縣    22  2023-11-17 21:00    μg/m3
3    關山    臺東縣    13  2023-11-17 21:00    μg/m3
4    馬公    澎湖縣    12  2023-11-17 21:00    μg/m3
..  ...    ...   ...               ...      ...
73   土城    新北市    25  2023-11-17 21:00    μg/m3
74   新店    新北市    18  2023-11-17 21:00    μg/m3
75   萬里    新北市    17  2023-11-17 21:00    μg/m3
76   汐止    新北市    23  2023-11-17 21:00    μg/m3
77   基隆    基隆市    19  2023-11-17 21:00    μg/m3

[78 rows x 5 columns]

In [6]:
df.sort_values('pm25').iloc[0][['pm25','site']].values

array([9, '恆春'], dtype=object)

In [7]:
df.sort_values('pm25').iloc[-1][['pm25','site']].values

array([34, '左營'], dtype=object)

#### 六都平均值

In [10]:
set(df['county'])

{'南投縣',
 '嘉義市',
 '嘉義縣',
 '基隆市',
 '宜蘭縣',
 '屏東縣',
 '彰化縣',
 '新北市',
 '新竹市',
 '新竹縣',
 '桃園市',
 '澎湖縣',
 '臺中市',
 '臺北市',
 '臺南市',
 '臺東縣',
 '花蓮縣',
 '苗栗縣',
 '連江縣',
 '金門縣',
 '雲林縣',
 '高雄市'}

In [11]:
six_county=['新北市','臺北市','桃園市','臺中市','臺南市','高雄市']
six_county

['新北市', '臺北市', '桃園市', '臺中市', '臺南市', '高雄市']

In [12]:
df.groupby('county').get_group('新北市')['pm25'].mean()

19.583333333333332

In [17]:
six_data={}
for county in six_county:
    print(county)
    print(df.groupby('county').get_group(county)['pm25'].mean())
    six_data[county]=round(df.groupby('county').get_group(county)['pm25'].mean(),2)
six_data

新北市
19.583333333333332
臺北市
21.571428571428573
桃園市
23.0
臺中市
15.0
臺南市
22.5
高雄市
26.833333333333332

{'新北市': 19.58,
 '臺北市': 21.57,
 '桃園市': 23.0,
 '臺中市': 15.0,
 '臺南市': 22.5,
 '高雄市': 26.83}

### 單一縣市的PM2.5數據

In [23]:
df.groupby('county').get_group('新北市')[['site','pm25']].set_index('site').to_dict()['pm25']

{'富貴角': 19,
 '永和': 20,
 '三重': 22,
 '淡水': 19,
 '林口': 18,
 '菜寮': 23,
 '新莊': 20,
 '板橋': 11,
 '土城': 25,
 '新店': 18,
 '萬里': 17,
 '汐止': 23}